<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Klient - projekt programowanie zespołowe</title>
</head>
<body>

    <div>
        <h2>Pomiary zlożone</h2>
        <ul id="advmes" />
        <table id="advmeas">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Rodzaj</th>
                    <th>Dlugość</th>
                    <th>Częstość</th>
                    <th> </th>
                </tr>
            </thead>
            <tbody id="advmeasb"></tbody>
        </table>
    </div>
    <form>
        Czas wstecz[s] <input type="time" id="inputDlugosc"/>
        Interwał uśrednień[s] <input type="time" id="inputCzestosc"/>
        <input type="radio" name="radioG" value="1" id="radioCpu" checked /> CPU
        <input type="radio" name="radioG" id="radioRam" value="2" /> RAM
        <input type="button" value="Dodaj pomiar" onclick="addAdvMs();" />
    </form>   
    <div>
        <h2>Wyniki</h2>
        Data od : <input type="datetime-local" id="inputDataOd" value=" & Now & " />
        <table id="res">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Dlugość</th>
                    <th>Częstość</th>
                    <th> </th>
                </tr>
            </thead>
            <tbody id="resb"></tbody>
        </table>
    </div> 
    <div>
        <a href="../Start.html">Powrót do strony startowej</a>

    </div>

    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
    <style>
        td, th, table {
            border: 1px solid black;
        }
    </style>

    <script>
        var uri = '../../../api/advmeasure';

        var localTime = new Date();
        document.getElementById("inputDataOd").value = localTime.getFullYear() + "/" +  (localTime.getMonth() + 1)  + "/" + localTime.getDate() + " " + localTime.toLocaleTimeString();

    $(document).ready(function () {
      // Send an AJAX request
        getAdvMes();
    });
     
    function getAdvMes() {
        $('#advmeasb tr').remove();

        $.getJSON(uri)
         .done(function (data) {
             // On success, 'data' contains a list of products.
             $.each(data, function (key, item) {
                 // Add a list item for the product.
                 //$('<li>', { text: formatItem(item) }).appendTo($('#advmeasb'));
                 var row = $('<tr>').appendTo('#advmeasb');
                 console.log(item);
                 $('<td>', { html:'<a href=javascript:showAM('+ item.id+')>Zobacz</a>' }).appendTo(row);
                 $('<td>', { text: item.SimpleMeasureType.name }).appendTo(row);
                 $('<td>', { text: item.MeasureLength }).appendTo(row);
                 $('<td>', { text: item.MeasureFrequency }).appendTo(row);
                 $('<td>', { html: '<a href=javascript:deleteAM(' + item.id + ')>Usuń</a>' }).appendTo(row);
             });
         });

    }

    function formatItem(item) {
        return 'Id: ' + item.id + ' Długość: ' + item.MeasureLength + ' Częstość: ' + item.MeasureFrequency +'<a href=javascript:deleteAM('+item.id+')>Usuń</a>';
    }

    function deleteAM(id) {
        $.ajax({
            url: uri + '/' + id,
            type: "DELETE"
        }).done(function(data){
        getAdvMes();
    });
    }

    function addAdvMs() {
        var dto = new Object();
        dto.UserId = 1;
        dto.Length = $('#inputDlugosc').val();
        dto.Frequency = $('#inputCzestosc').val();
        var value = 0;
        var cpuChecked = $('#radioCpu').is(":checked");
        if (cpuChecked)
            value = 1;
        else
            value = 2;
        dto.SimpleMeasurmentTypeId = value;

        $.post(uri, dto, function (data) {
            getAdvMes(uri);
        });

    }

    function showAM(id) {
        $('#resb tr').remove();
        var localUri = uri;
        localUri += '?id=' + id;
        //var dOd = $('#inputDataOd').val();
        var dOd = document.getElementById("inputDataOd").value;
        if (!dOd) {
            alert('Podaj datę i czas!');
            return;
        }
        console.log('data od' + dOd);
        localUri += '&dateTime=' + dOd;

        $.getJSON(localUri).done(
            function (data) {
                console.log(data);
            }
            );
    }
   
    </script>
</body>
</html>
