<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Klient - projekt programowanie zespołowe</title>
    <script src="Chart.min.js"></script>
</head>
<body>
    <div>
        <h1>Filtry:</h1>
        <form>
        <input type="radio" name="radioG" value="1" id="radioCpu" checked /> CPU
        <input type="radio" name="radioG" id="radioRam" value="2" /> RAM
        </form>
         Nazwa hosta<input type="text" id="hostname" />
        <input type="button" value="Sprawdź" onclick="getMeasurmentsFilter();" /> 
    </div>
    <div>
        <h2>Pomiary</h2>
        <ul id="meas" />
        <!-- <table id="meas">
            <thead>
                <tr>
                    <th>host_id</th>
                    <th>czas</th>
                    <th>wartość</th>
                </tr>
            </thead>
            <tbody id="measb">
                
            </tbody>
        </table> -->
    </div>
    <canvas id="results" width="1500" height="500"></canvas>

    <div>
        <a href="../Start.html">Powrót do strony startowej</a>
    </div>
    <style>
        td,th,table{

            border: 1px solid black;
        }

    </style>
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
    
    <script>
        var uri = '../../../api/measurements';
    $(document).ready(function () {
      // Send an AJAX request
        getMeasurments(1,"");
    });

    function getMeasurmentsFilter() {
        var value =0;
        var cpuChecked = $('#radioCpu').is(":checked");
        if (cpuChecked)
            value = 1;
        else
            value = 2;
        var host = $('#hostname').val();
        console.log(host);

        getMeasurments(value, host);
    }

    function getMeasurments(value,hostName) {
        $('#measb tr').remove();
        console.log('value' + value);
        var localUri = uri;
        localUri += '?id=' + value;
        //localUri += '/1';
        var chartdata = {
            labels: [],
            datasets: [
        {
            label: "Sensor measurements",
            fillColor: "rgba(220,220,220,0.2)",
            strokeColor: "rgba(220,220,220,1)",
            pointColor: "rgba(220,220,220,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(220,220,220,1)",
            data: []
        }
            ]
        }
        localUri += '&hostName=' + hostName;
        var context = document.getElementById('results').getContext('2d');
        var resultsChart = new Chart(context).Line(chartdata);
        $.getJSON(localUri)
         .done(function (data) {
             console.log(data);
             // On success, 'data' contains a list of products.
             $.each(data, function (key, item) {
                 // Add a list item for the product.                
                 //var row = $('<tr>').appendTo('#measb');
                 //console.log('Time:' + time);
                 //$('<td>', { text: item.host_id }).appendTo(row);
                 //$('<td>', { text: item.time }).appendTo(row);
                 //$('<td>', { text: item.value }).appendTo(row);
                 //$('<li>', { text: formatItem(item) }).appendTo($('#users'));
                 resultsChart.addData([item.value], item.time.toString().replace('T', ' ').replace(/\.[0-9]*$/i, ''));
             });
             
         });
        

    }

    function formatItem(item) {
      return item.login +' Email: '+item.mail +' Status: ' + item.status;
    }

    function radioClick(value) {
        getMeasurments(value);
    }

    </script>
</body>
</html>
