<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Klient - projekt programowanie zespołowe</title>
</head>
<body>
    <div>
        <h1>Typ pomiaru</h1>
        <form>
        <input type="radio" name="radioG" value="1" id="radioCpu" onclick="radioClick(1);" checked /> CPU
        <input type="radio" name="radioG" id="radioRam" value="2" onclick="radioClick(2);"/> RAM
        </form>
    </div>
    <div>
        <h2>Pomiary</h2>
        <ul id="meas" />
        <table id="meas">
            <thead>
                <tr>
                    <th>host_id</th>
                    <th>czas</th>
                    <th>wartość</th>
                </tr>
            </thead>
            <tbody id="measb">
                
            </tbody>
        </table>
    </div>
    <div>
        <a href="../Start.html">Powrót do strony startowej</a>

    </div>
    <style>
        td,th,table{

            border: 1px solid black;
        }

    </style>
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
    <script>
        var uri = '../../../api/measurements';

    $(document).ready(function () {
      // Send an AJAX request
        getMeasurments(1);
    });

    function getMeasurments(value) {
        $('#measb tr').remove();
        $.getJSON(uri + '/'+value)
         .done(function (data) {
             // On success, 'data' contains a list of products.
             console.log(data);
             $.each(data, function (key, item) {
                 // Add a list item for the product.                
                 var row = $('<tr>').appendTo('#measb');
                 $('<td>', { text: item.host_id }).appendTo(row);
                 $('<td>', { text: item.time }).appendTo(row);
                 $('<td>', { text: item.value }).appendTo(row);
                 //$('<li>', { text: formatItem(item) }).appendTo($('#users'));
             });
         });

    }

    function formatItem(item) {
      return item.login +' Email: '+item.mail +' Status: ' + item.status;
    }

    function radioClick(value) {
        getMeasurments(value);
    }

    </script>
</body>
</html>
